{% extends "base.html" %}
{% load static %}
{% block link_css %}
<link href="{% static 'home/css/home.css' %}" rel="stylesheet">
{% endblock %}
{% block title %} temp app registration {% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">TempApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form action="{% url 'accounts:logout' %}">{% csrf_token %}
                        <button type="submit" class="btn btn-dark">logout</button>
                    </form>
                </li>
                <li class="nav-item">
                    <button href="/" class="btn btn-dark">{{ user }}</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block main %}
<p>投稿画面です</p>
{% endblock %}